<div class="container max-w-6xl mx-auto my-12 p-4">
    <h3 class="text-5xl font-extrabold" id="petition">
        Sprawdź dodatkowe informacje
    </h3>
    <hr class="mb-8" />
    <section
        class="grid grid-cols-1 sm:gap-2 sm:grid-cols-2 md:gap-3 md:grid-cols-3"
    >
        <img alt="Lightbox (1)" src="/lightbox.img-1.png" loading="lazy" />
        <img alt="Lightbox (2)" src="/lightbox.img-2.png" loading="lazy" />
        <img alt="Lightbox (3)" src="/lightbox.img-3.png" loading="lazy" />
        <img alt="Lightbox (4)" src="/lightbox.img-4.png" loading="lazy" />
        <img alt="Lightbox (5)" src="/lightbox.img-5.png" loading="lazy" />
        <img alt="Lightbox (6)" src="/lightbox.img-6.png" loading="lazy" />
    </section>
</div>
