<div class="container max-w-6xl mx-auto my-12 p-4">
    <h3 class="text-5xl font-extrabold" id="petition">
        Petycja w obronie parku
    </h3>
    <hr class="mb-8" />
    <div class="border border-base-300 mockup-browser max-w-4xl mx-auto">
        <div class="mockup-browser-toolbar">
            <p class="font-semibold ms-6">
                Petycja do Prezydenta Miasta Racibórz
            </p>
        </div>
        <div class="border-y border-base-300 flex justify-center px-8 py-16">
            <article class="flex flex-col gap-4 text-lg lg:text-justify italic">
                <p>Szanowny Panie Prezydencie,</p>

                <p>
                    My, mieszkańcy Raciborza, stanowczo sprzeciwiamy się decyzji
                    o wycofaniu się z planów budowy Rodzinnego Ogrodu Rekreacji
                    na terenie przy ul. Jana Pawła II i oddaniu do budżetu
                    państwa 8 mln zł przeznaczonych na ten cel.
                </p>

                <p>
                    Nowy park to dla nas niezwykle ważny projekt, na który
                    czekaliśmy z nadzieją, że stworzy przestrzeń do wypoczynku,
                    rekreacji i integracji naszej społeczności. Park byłby
                    ogromnym atutem dla naszego miasta, a przede wszystkim dla
                    mieszkańców tej części Raciborza, która od lat pozbawiona
                    jest takiej infrastruktury.
                </p>

                <p>
                    Nie możemy zrozumieć, dlaczego tak dobrze przygotowany
                    projekt, zatwierdzony przez Radę Miasta i z uzyskanym
                    dofinansowaniem w wysokości 8 milionów złotych, został nagle
                    zablokowany. Odbieranie nam tej inwestycji jest równoznaczne
                    z pozbawianiem nas prawa do wypoczynku w naszej najbliższej
                    okolicy – i traktowaniem jak mieszkańców drugiej kategorii.
                </p>

                <p>
                    Nie akceptujemy tłumaczenia, że pieniądze przeznaczone na
                    nowy park zostaną przeniesione na inne cele, w tym wymianę
                    pieców i termomodernizację w budynkach należących do miasta.
                    Istnieje wiele innych programów rządowych i unijnych, z
                    których można skorzystać na te zadania.
                </p>

                <p>
                    Zdecydowanie sprzeciwiamy się temu, by pewne dzielnice
                    Raciborza były traktowana gorzej niż inne, które mogą
                    cieszyć się parkami i innymi przestrzeniami rekreacyjnymi w
                    swojej najbliższej okolicy. To my, mieszkańcy, będziemy
                    najbardziej poszkodowani przez tę decyzję. Rodzinny Ogród
                    Rekreacji to miejsce, które mogłoby stać się sercem naszej
                    społeczności, miejscem spotkań, aktywności fizycznej i
                    relaksu. Przez decyzję o zablokowaniu budowy parku zostajemy
                    pozbawieni tej możliwości.
                </p>

                <p>
                    Zdecydowanie sprzeciwiamy się także planom przeznaczenia
                    tego terenu na inne cele, zwłaszcza oddania go deweloperom,
                    którzy najchętniej wybudowaliby tu nowe apartamentowce albo
                    centrum handlowe. To miejsce powinno służyć wszystkim
                    mieszkańcom, a nie zyskom kilku osób czy firm.
                </p>

                <p>
                    Apelujemy do Pana o wycofanie się z tej błędnej decyzji i
                    powrót do planów budowy parku. Nie zgadzamy się na to, by
                    Racibórz stracił tak ważną inwestycję. Nowy park powinien
                    powstać zgodnie z planem i służyć mieszkańcom przez wiele
                    lat.
                </p>

                <p>Z wyrazami szacunku,<br />Mieszkańcy Raciborza</p>
            </article>
        </div>
        <div class="flex m-3">
            <a
                class="btn w-full btn-success rounded-lg text-white text-lg mx-auto"
                href="https://www.petycjeonline.com/sprzeciw_mieszkacow_raciborza_chcemy_by_rodzinny_ogrod_rekreacji_powsta_zgodnie_z_planem"
                target="_blank">Podpisz teraz!</a
            >
        </div>
    </div>
</div>
