<div class="hero absolute w-full h-[90vh] z-40">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-neutral-content text-center px-2 py-4">
        <div class="max-w-sm lg:max-w-[520px] flex flex-col gap-4 items-center">
            <h1 class="text-5xl font-bold">#TAK dla Parku</h1>
            <p class="text-lg">
                Nie pozwólmy nowemu Prezydentowi Jackowi Wojciechowiczowi
                odebrać Nam szansy na zielone serce Raciborza!
            </p>
            <p class="text-lg">
                Podpisz petycję i walcz o park! Walczmy o naszą wspólną
                przestrzeń do odpoczynku!
            </p>
            <div class="flex flex-col gap-2">
                <a
                    href="#petition"
                    class="btn btn-success btn-wide rounded-full text-lg text-white"
                >
                    Podpisz petycję
                </a>
                <a
                    href="#timeline"
                    class="btn btn-neutral btn-wide rounded-full text-lg"
                >
                    Dowiedz się więcej
                </a>
            </div>
        </div>
    </div>
</div>
<div class="carousel w-full h-[90vh]">
    <div id="carousel-item-1" class="carousel-item relative w-full">
        <img
            alt="Carousel (1)"
            src="/carousel.img-1.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-6" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-2" class="btn btn-circle glass">❯</a>
        </div>
    </div>
    <div id="carousel-item-2" class="carousel-item relative w-full">
        <img
            alt="Carousel (2)"
            src="/carousel.img-2.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-1" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-3" class="btn btn-circle glass">❯</a>
        </div>
    </div>
    <div id="carousel-item-3" class="carousel-item relative w-full">
        <img
            alt="Carousel (3)"
            src="/carousel.img-3.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-2" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-4" class="btn btn-circle glass">❯</a>
        </div>
    </div>
    <div id="carousel-item-4" class="carousel-item relative w-full">
        <img
            alt="Carousel (4)"
            src="/carousel.img-4.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-3" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-5" class="btn btn-circle glass">❯</a>
        </div>
    </div>
    <div id="carousel-item-5" class="carousel-item relative w-full">
        <img
            alt="Carousel (6)"
            src="/carousel.img-6.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-4" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-6" class="btn btn-circle glass">❯</a>
        </div>
    </div>
    <div id="carousel-item-6" class="carousel-item relative w-full">
        <img
            alt="Carousel (6)"
            src="/carousel.img-6.jpg"
            loading="lazy"
            class="object-cover w-full"
        />
        <div
            class="absolute flex justify-between left-2 right-2 top-1/2 transform z-50 -translate-y-1/2"
        >
            <a href="#carousel-item-5" class="btn btn-circle glass">❮</a>
            <a href="#carousel-item-1" class="btn btn-circle glass">❯</a>
        </div>
    </div>
</div>
<div class="flex w-full justify-center gap-2 py-2">
    <a href="#carousel-item-1" class="btn btn-sm btn-square">1</a>
    <a href="#carousel-item-2" class="btn btn-sm btn-square">2</a>
    <a href="#carousel-item-3" class="btn btn-sm btn-square">3</a>
    <a href="#carousel-item-4" class="btn btn-sm btn-square">4</a>
    <a href="#carousel-item-5" class="btn btn-sm btn-square">5</a>
    <a href="#carousel-item-6" class="btn btn-sm btn-square">6</a>
</div>
