---
import Carousel from "./index.carousel.astro";
import Lightbox from "./index.lightbox.astro";
import Petition from "./index.petition.astro";
import Timeline from "./index.timeline.astro";
---

<html lang="en" data-theme="light" class="scroll-smooth">
    <head>
        <!-- Google tag (gtag.js) -->
        <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-MRY8W4PN2H"></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-MRY8W4PN2H");
        </script>

        <!-- essentials -->
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="viewport"
            content="initial-scale=1, , viewport-fit=coverr"
        />

        <!-- social media -->
        <meta
            property="og:image"
            content="https://parkraciborz.pl/favicon.png"
        />
        <meta property="og:title" content="#TAK dla Parku" /><meta
            property="og:type"
            content="website"
        />
        <meta property="og:url" content="https://parkraciborz.pl/" />

        <!-- twitter / x -->
        <meta name="twitter:card" content="summary_large_image" /><meta
            name="twitter:description"
            content="Sprzeciw mieszkańców Raciborza: Chcemy, by Rodzinny Ogród Rekreacji powstał zgodnie z planem!"
        />
        <meta
            name="twitter:image"
            content="https://parkraciborz.pl/favicon.png"
        />
        <meta name="twitter:title" content="#TAK dla Parku" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>#TAK dla Parku</title>
    </head>
    <body>
        <Carousel />
        <Petition />
        <Timeline />
        <Lightbox />
        <footer class="footer footer-center bg-base-300 text-base-content p-4">
            <aside>
                <p>#TAK dla Parku • Wszelkie prawa zastrzeżone</p>
                <hr class="border-neutral-content w-full" />
                <p>
                    Wizualizacje parku
                    <span class="font-semibold italic"
                        >Rodzinny Ogród Rekreacji</span
                    >
                    <br />
                    pochodzą z oficjalnej strony
                    <a
                        class="btn-link"
                        href="https://www.raciborz.pl/urzad/aktualnosci_miasto_raciborz/Raciborzanie-zasluguja-na-przepiekny-i-przemyslany-Rodzinny-Ogrod-Rekreacji.-Powstanie-nowy-park-z-wieloma-atrakcjami-w-poblizu-kosciola-pw.-Matki-Bozej/idn:11600"
                        target="_blank">Urzędu Miasta Racibórz</a
                    >
                </p>
            </aside>
        </footer>
    </body>
</html>
