<div class="container max-w-6xl mx-auto my-12 p-4">
    <h3 class="text-5xl font-extrabold" id="timeline">
        Oś czasu i historia parku
    </h3>
    <hr class="mb-8" />
    <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
    >
        <li>
            <div class="timeline-middle">
                <span class="aspect-square badge badge-info text-white">✓</span>
            </div>
            <div class="timeline-start mb-10 md:text-end">
                <time class="font-mono italic">11/2018</time>
                <div class="text-lg font-black">Pierwsza zapowiedź</div>
                <p>
                    W listopadzie 2018 roku ówczesny Prezydent Dariusz Polowy
                    zaprezentował ambitny plan stworzenia nowego parku, który
                    miałby stać się zieloną wizytówką miasta. Ta inicjatywa
                    zyskała szerokie poparcie społeczne, zapowiadając znaczące
                    zmiany w przestrzeni publicznej, które miały na celu poprawę
                    jakości życia mieszkańców.
                </p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle">
                <span class="aspect-square badge badge-info text-white">✓</span>
            </div>
            <div class="timeline-end mb-10">
                <time class="font-mono italic">2019-2022</time>
                <div class="text-lg font-black">Prace projektowe</div>
                <p>
                    W latach 2019-2022 trwały intensywne prace
                    koncepcyjno-projektowe nad nowym parkiem. Zespół projektowy
                    organizował liczne spotkania z mieszkańcami, prowadził
                    analizy terenowe i konsultacje, aby stworzyć projekt, który
                    odpowiadałby na potrzeby społeczności oraz uwzględniałby
                    walory środowiskowe i estetyczne terenu.
                </p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle">
                <span class="aspect-square badge badge-success text-white"
                    >✓</span
                >
            </div>
            <div class="timeline-start mb-10 md:text-end">
                <time class="font-mono italic">09/2023</time>
                <div class="text-lg font-black">Źródła finansowania</div>
                <p>
                    Jesienią 2023 roku, dzięki staraniom ówczesnego Prezydenta
                    Dariusza Polowego, zapewniono źródła finansowania dla
                    inwestycji, w tym fundusze z programu Polski Ład. Ogłoszenie
                    to było przełomowym momentem, który dawał nadzieję na
                    realizację projektu, przyciągając uwagę mediów i lokalnej
                    społeczności.
                </p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle">
                <span class="aspect-square badge badge-success text-white"
                    >✓</span
                >
            </div>
            <div class="timeline-end mb-10">
                <time class="font-mono italic">03/2024</time>
                <div class="text-lg font-black">
                    Rozpoczęcie prac terenowych
                </div>
                <p>
                    W marcu 2024 roku ogłoszono rozpoczęcie prac terenowych,
                    które miały na celu przygotowanie terenu pod budowę parku.
                    Przedstawiono również finalną koncepcję, zapowiadając, że
                    budowa ruszy latem tego samego roku, co wzbudziło ogromne
                    oczekiwania i entuzjazm wśród mieszkańców, którzy czekali na
                    realizację projektu.
                </p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle">
                <span class="badge badge-error aspect-square text-white">✗</span
                >
            </div>
            <div class="timeline-start mb-10 md:text-end">
                <time class="font-mono italic">06/2024</time>
                <div class="text-lg font-black">Zatrzymanie budowy</div>
                <p>
                    W czerwcu 2024 roku, nowy Prezydent Jacek Wojciechowicz
                    wstrzymał wszelkie prace nad inwestycją, co wywołało szeroki
                    sprzeciw w lokalnej społeczności. Decyzja ta była
                    zaskakująca i wywołała niepewność co do motywacji Prezydenta
                    oraz przyszłości projektu, który od początku budził wiele
                    nadziei.
                </p>
            </div>
        </li>
    </ul>
</div>
