---
import Carousel from "./index.carousel.astro";
import Petition from "./index.petition.astro";
import Timeline from "./index.timeline.astro";
---

<html lang="en" data-theme="light" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>#TAK dla Parku</title>
    </head>
    <body>
        <Carousel />
        <Petition />
        <Timeline />
        <footer class="footer footer-center bg-base-300 text-base-content p-4">
            <aside>
                <p>#TAK dla Parku • Wszelkie prawa zastrzeżone</p>
            </aside>
        </footer>
    </body>
</html>
